@model PersonalPropertyApp.Models.ClaimReport

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClaimReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Claimreason" class="control-label"></label>
                <input asp-for="Claimreason" class="form-control" />
                <span asp-validation-for="Claimreason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reportdate" class="control-label"></label>
                <input asp-for="Reportdate" class="form-control" />
                <span asp-validation-for="Reportdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policyid" class="control-label"></label>
                <select asp-for="Policyid" class ="form-control" asp-items="ViewBag.Policyid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class ="form-control" asp-items="ViewBag.Userid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
